<!-- <footer class="footer">
  <div class="contact-us-container mt-4">
    <h3 style="font: size 50px;; font-weight:bold; margin-bottom: 35px;">CONTACT US</h3>
    <p><i class="fa fa-phone"></i> : 123-456-7890</p>
    <p><i class="fa fa-envelope"></i> : quickbus@yahoo.com</p>
    <p><i class="fa fa-twitter"></i> : <a href="#" class="alink">@quickbus</a></p>
    <p><i class="fa fa-instagram"></i> : <a href="#"class="alink" >@quick_bus_</a></p>
  </div>

<div>
  <p>&copy; 2023 Quick Bus. All rights reserved.</p>
</div>
</footer> -->
<footer class="footer">
  <div class="contact-us-container mt-4">
    <h3 style="font-size: 50px; font-weight:bold; margin-bottom: 35px;">CONTACT US</h3>
    <p><i class="fas fa-phone"></i> : 123-456-7890</p>
    <p><i class="fas fa-envelope"></i> : quickbus@yahoo.com</p>
    <p><i class="fab fa-twitter"></i> : <a href="#" class="alink">@quickbus</a></p>
    <p><i class="fab fa-instagram"></i> : <a href="#" class="alink">@quick_bus_</a></p>
  </div>

  <div>
    <p>&copy; 2023 Quick Bus. All rights reserved.</p>
  </div>
</footer>
