<!-- <div class="container">
    <h1>Welcome, Admin!</h1>
    <div class="button-group">
      <button routerLink="/addbus">Add Bus</button>
      <button routerLink="/deletebus">Delete Bus</button>
      <button routerLink="/dashboard">Dashboard</button>
      <button routerLink="/updatebus">Updatebus</button>
    </div>
  </div> -->
  <!DOCTYPE html>

<html>

<head>

  <title>Admin Dashboard</title>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">



</head>

<body>

<!-- <div class="container"> -->




<h2 class="h2">Hi, welcome back...!</h2>

<div class="button-container">

  <div class="button-row">

    <button class="button create" routerLink="/create">

      <i class="fas fa-plus"></i>

      Add Bus

    </button>

    <button class="button read"routerLink="/view">

      <i class="fas fa-book"></i>

      Dashboard

    </button>



  <div class="button-row">

    <button class="button update">

      <i class="fas fa-pencil-alt"></i>

      Update Bus

    </button>



  </div>

</div>

</div>




</body>

</html>
