<!-- <div class="about-us-container mt-4">
    <h3 style="font-size :25px;; font-weight:bold; text-align: center;">ABOUT US</h3>
    <p>Welcome to Quick Bus, your go-to platform for hassle-free bus ticket reservations. We are committed to providing you with a seamless and convenient booking experience for your bus travels.</p>
    <p>With a wide network of bus operators and destinations, we offer a comprehensive range of bus routes to choose from. Whether you are planning a short trip or a long journey, we've got you covered.</p>
    <p>Our user-friendly website allows you to easily search for available buses, compare fares, and select your preferred seats. We prioritize your comfort and safety, and work with trusted bus operators to ensure a reliable and enjoyable travel experience.</p>
    <p>At Bus Ticket Booking, we understand the value of your time and money. That's why we strive to provide competitive prices and attractive discounts to make your travel affordable. Our secure payment gateway ensures your transactions are safe and protected.</p>
    <p>Should you have any questions or require assistance, our dedicated customer support team is available 24/7 to help you. We are here to ensure your journey is smooth and stress-free from start to finish.</p>
    <p>Thank you for choosing Bus Ticket Booking. Start planning your next bus adventure with us today!</p>
  </div> -->

  <div class="body">
    <div class="contain">
        <div class="text-container">
          <h1>ABOUT US</h1>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <img src="assets\image\7.jpg" class="card-img-top" alt="Image 1">
              <div class="card-body">
                <p class="card-text">Welcome aboard! Our buses are more than just a mode of transportation; they're a symbol of comfort, reliability, and convenience. Explore our About Us page to learn more about our commitment to exceptional service and why we're the preferred choice for all your travel needs.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="assets\image\8.jpg" class="card-img-top" alt="Image 2">
              <div class="card-body">
                <p class="card-text">Unleash your wanderlust with us. Explore diverse landscapes. Embrace new cultures. Seek thrilling adventures. Your travel dreams, our heartfelt passion. Discover the world through our lens.Capture the essence of each destination. Let us guide you on extraordinary journeys.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <img src="assets\image\5.jpg" class="card-img-top" alt="Image 3">
              <div class="card-body">
                <p class="card-text">
                  Discover the city in style. Our buses are your ticket to urban exploration. Hop on board and let us take you on a journey through the bustling streets, iconic landmarks, and hidden gems of the city. Sit back, relax, and enjoy the ride as we connect you to the vibrant pulse of urban life.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="contain">
        <div class="text-container">
          <p>Welcome to Quick Bus, your go-to platform for hassle-free bus ticket reservations. We are committed to providing you with a seamless and convenient booking experience for your bus travels.
          With a wide network of bus operators and destinations, we offer a comprehensive range of bus routes to choose from. Whether you are planning a short trip or a long journey, we've got you covered.
          Our user-friendly website allows you to easily search for available buses, compare fares, and select your preferred seats. We prioritize your comfort and safety, and work with trusted bus operators to ensure a reliable and enjoyable travel experience.
          At Bus Ticket Booking, we understand the value of your time and money. That's why we strive to provide competitive prices and attractive discounts to make your travel affordable. Our secure payment gateway ensures your transactions are safe and protected.
          Should you have any questions or require assistance, our dedicated customer support team is available 24/7 to help you. We are here to ensure your journey is smooth and stress-free from start to finish.
          Thank you for choosing Bus Ticket Booking. Start planning your next bus adventure with us today!
          </p>
      
        </div>
      </div>
    </div>
