<!-- <body>
     <div class="container">
    <h2 class="login">Login</h2>
      <div class="form-group"> -->
<!-- <label class="label">Username:</label> -->
<!-- <input type="text" placeholder="Username" [(ngModel)]="name"  required> -->
<!-- </div>
      <div class="form-group"> -->
<!-- <label class="label">Password:</label> -->
<!-- <input type="password" placeholder="Password" [(ngModel)]="password"  required>
      </div>
      <div class="sum">
        <input type="submit" value="Login" (click)="login()" class="input">
      </div>
      <div class="links">
        <a  routerLink="/signup">SignUp</a>
        <a >Forgot Password</a>
      </div>
  </div>
</body> -->


<!-- <!DOCTYPE html>

<html lang="en">

<head>

  <meta charset="UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Document</title> -->

  <!-- <link rel="stylesheet" href="register.css"> -->

  <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>

  <section class="vh-100">

    <div class="container py-5 h-100">

      <div class="row d-flex justify-content-center align-items-center h-100">

        <div class="col col-xl-10">

          <div class="card" style="border-radius: 1rem;">

            <div class="row g-0">

              <div class="col-md-6 col-lg-5 d-none d-md-block">

                <img
                  src="https://images.pexels.com/photos/2402648/pexels-photo-2402648.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
                  alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />

              </div>

              <div class="col-md-6 col-lg-7 d-flex align-items-center">

                <div class="card-body p-4 p-lg-5 text-black">

                  <form>

                    <div class="d-flex align-items-center mb-3 pb-1">

                      <i class="fas fa-bus fa-2x me-2" style="color: black;"></i>

                      <span class="h1 fw-bold mb-0" style="font-family:'Times New Roman', Times, serif;">MY BUS</span>

                    </div>

                    <h5 class="fw-bold mb-3 pb-3"
                      style="letter-spacing: 1px; font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; color:#05395c">
                      SIGN IN TO YOUR ACCOUNT HERE</h5>

                    <div class="form-outline mb-2">

                      <label class="form-label" for="username">Username</label>

                      <input type="text" id="username" class="form-control form-control-lg" />

                    </div>

                    <div class="form-outline mb-2">

                      <label class="form-label" for="form2Example27">Password</label>

                      <input type="password" id="form2Example27" class="form-control form-control-lg" />

                    </div>

                    <div class="pt-1 mb-2">

                      <button class="btn btn-dark btn-md btn-block" type="button" style="background-color:#003f5c;"
                        (click)="login()">Login</button>

                    </div> -->

                    <!-- <p class="mb-3 pb-lg-2" style="color:rgb(56, 56, 183);">Don't have an account? <a href="#!"
                        style="color: rgb(56, 56, 183);" (click)="signup()">Register here</a>
                    </p> -->
                    <!-- <div class="form-group"> -->
                      <!-- <p>Don't have an account? <a href="/signup">Sign up</a></p> -->
                  <!-- </div> -->
                  <!-- </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body> -->


<div class="main">
  <!-- Add our navbar -->
  <div>
    <nav class="navbar">
      <a class="navbar-brand" href="#">Travel Website</a>
    </nav>
  </div>

  <main>

    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="pexels-james-wheeler-414462.jpg" alt="Bus Image 1" class="carouselImg">
          
        </div>
        <div class="carousel-item">
          <img src="pexels-pixabay-434450.jpg" alt="Bus Image 2" class="carouselImg">
        </div>
        <div class="carousel-item">
          <img src="pexels-wu-changhui-396310.jpg" alt="Bus Image 3" class="carouselImg">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

          <div class="cards">
            <div class="card-body">
              <h5 class="card-title">Search</h5>
              <form>
                <div class="form-group">
                  <label for="source">Source</label>
                  <select class="form-control" id="source">
                    <option value="city1">City 1</option>
                    <option value="city2">City 2</option>
                    <option value="city3">City 3</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="destination">Destination</label>
                  <select class="form-control" id="destination">
                    <option value="city1">City 1</option>
                    <option value="city2">City 2</option>
                    <option value="city3">City 3</option>
                  </select>
                </div>
                <div class="form-group">
                  <label for="date">Date</label>
                  <input type="date" class="form-control" id="date">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
              </form>
            </div>
          </div>
          

     
     

      <div class="about-us-container mt-4">
        <h3 style="font-size :25px;; font-weight:bold; text-align: center;">ABOUT US</h3>
        <p>Welcome to Quick Bus, your go-to platform for hassle-free bus ticket reservations. We are committed to providing you with a seamless and convenient booking experience for your bus travels.</p>
        <p>With a wide network of bus operators and destinations, we offer a comprehensive range of bus routes to choose from. Whether you are planning a short trip or a long journey, we've got you covered.</p>
        <p>Our user-friendly website allows you to easily search for available buses, compare fares, and select your preferred seats. We prioritize your comfort and safety, and work with trusted bus operators to ensure a reliable and enjoyable travel experience.</p>
        <p>At Bus Ticket Booking, we understand the value of your time and money. That's why we strive to provide competitive prices and attractive discounts to make your travel affordable. Our secure payment gateway ensures your transactions are safe and protected.</p>
        <p>Should you have any questions or require assistance, our dedicated customer support team is available 24/7 to help you. We are here to ensure your journey is smooth and stress-free from start to finish.</p>
        <p>Thank you for choosing Bus Ticket Booking. Start planning your next bus adventure with us today!</p>
      </div>

      

  <div class="popular">
      <p class="pl-14" style="font-size: 25px; font-weight:bold; text-align: center;">FEW OF OUR POPULAR TRIPS</p> 
      
      <div class="row" >
        
        <div class="col-md-4">
          <div class="card">
            <img src="banglore.jpg" alt="Swift Bus" class="busimg">
            <p class="card-text" style="font-weight:bold;">Buses From Bangalore To <br>Chennai, Hyderabad, Coimbatore, Mumbai, Goa</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="chennai.jpg" alt="Tourist Bus" class="busimg">
            <p class="card-text" style="font-weight:bold;">Buses From Chennai To <br>Bangalore, Coimbatore, Madurai, Trichy</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="hyderabad.jpg" alt="Tourist Bus" class="busimg">
            <p class="card-text" style="font-weight:bold;">Buses From Hyderabad To <br>Bangalore, Chennai, Mumbai, Pune, Vijayawada</p>
          </div>
        </div>
      </div>

    </div>

    <div class="popular">
      <p class="pl-14" style="font-size: 25px; font-weight:bold; text-align: center;">OUR SPECIAL OFFERS</p> 
      
      <div class="row">
        
        <div class="col-md-4">
          <div class="card">
            <img src="card1.jpg" alt="Swift Bus" class="offerimg">
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="card2.jpg" alt="Tourist Bus" class="offerimg">
            
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="card3.jpg" alt="Tourist Bus" class="offerimg">
            
          </div>
        </div>
      </div>

    </div>


    <div class="popular">
      <p class="pl-14" style="font-size: 25px; font-weight:bold; text-align: center;">
        BOOK SRTC BUS TICKETS AT QUICKBUS
      </p> 
    
      <div class="row">
        <div class="col-md-2">
          <!-- <div class="card"> -->
            <img src="apsrtc-removebg-preview.png" alt="Offer 1" class="srtcimg">
          <!-- </div> -->
        </div>
        <div class="col-md-2">
          <!-- <div class="card"> -->
            <img src="gsrtc-removebg-preview (1).png" alt="Offer 2" class="srtcimg">
          <!-- </div> -->
        </div>
        <div class="col-md-2">
          <!-- <div class="card"> -->
            <img src="ksrtc-removebg-preview.png" alt="Offer 3" class="srtcimg">
          <!-- </div> -->
        </div>
          <div class="col-md-2">
            <!-- <div class="card"> -->
              <img src="ksrtc2-removebg-preview.png" alt="Offer 3" class="srtcimg">
          <!-- </div> -->
        </div>
          <div class="col-md-2">
            <!-- <div class="card"> -->
              <img src="rsrtc-removebg-preview.png" alt="Offer 3" class="srtcimg">
          <!-- </div> -->
        </div>
          <div class="col-md-2">
            <!-- <div class="card"> -->
              <img src="upsrtc-removebg-preview.png" alt="Offer 3" class="srtcimg">
          <!-- </div> -->
        </div>
        </div>
      </div>
  

      
  </main>

  
  

  <footer class="footer">
    <div class="contact-us-container mt-4">
      <h3 style="font: size 50px;; font-weight:bold; margin-bottom: 35px;">CONTACT US</h3>
      <p><i class="fa fa-phone"></i> : 123-456-7890</p>
      <p><i class="fa fa-envelope"></i> : quickbus@yahoo.com</p>
      <p><i class="fa fa-twitter"></i> : <a href="#" class="alink">@quickbus</a></p>
      <p><i class="fa fa-instagram"></i> : <a href="#"class="alink" >@quick_bus_</a></p>
    </div>
  
  <div>
    <p>&copy; 2023 Quick Bus. All rights reserved.</p>
  </div>
  </footer>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</div>