<!-- <app-navbar></app-navbar> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-signup></app-signup>  -->
 <!-- <app-addbus></app-addbus>  -->
<!-- <app-schedule></app-schedule> -->
<!-- <app-about></app-about> -->
<!-- <app-services></app-services> -->
<!-- <app-adminhomepage></app-adminhomepage> -->
<!-- <app-dashboard></app-dashboard> -->
<!-- <app-mainhomepage></app-mainhomepage> -->
<!-- <app-schedule></app-schedule> -->
<app-busticket></app-busticket>
<!-- <app-searchpage></app-searchpage> -->
<!-- <app-seatavailability></app-seatavailability> -->
<!-- <app-showschedule></app-showschedule> -->
<!-- <app-searchpage></app-searchpage> -->
<!-- <router-outlet></router-outlet> -->
<!-- <app-passengerdetails></app-passengerdetails> -->
<!-- <app-updatebus></app-updatebus> -->
<!-- <app-home></app-home> -->
<!-- <app-searchpage></app-searchpage> -->
<!-- <app-footer></app-footer> -->

