<div class="popular">
    <p class="pl-14" style="font-size: 25px; font-weight:bold; text-align: center;">FEW OF OUR POPULAR TRIPS</p> 
    
    <div class="row" >
      
      <div class="col-md-4">
        <div class="card">
          <img src="banglore.jpg" alt="Swift Bus" class="busimg">
          <p class="card-text" style="font-weight:bold;">Buses From Bangalore To <br>Chennai, Hyderabad, Coimbatore, Mumbai, Goa</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="chennai.jpg" alt="Tourist Bus" class="busimg">
          <p class="card-text" style="font-weight:bold;">Buses From Chennai To <br>Bangalore, Coimbatore, Madurai, Trichy</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="hyderabad.jpg" alt="Tourist Bus" class="busimg">
          <p class="card-text" style="font-weight:bold;">Buses From Hyderabad To <br>Bangalore, Chennai, Mumbai, Pune, Vijayawada</p>
        </div>
      </div>
    </div>

  </div>

  <div class="popular">
    <p class="pl-14" style="font-size: 25px; font-weight:bold; text-align: center;">OUR SPECIAL OFFERS</p> 
    
    <div class="row">
      
      <div class="col-md-4">
        <div class="card">
          <img src="card1.jpg" alt="Swift Bus" class="offerimg">
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="card2.jpg" alt="Tourist Bus" class="offerimg">
          
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img src="card3.jpg" alt="Tourist Bus" class="offerimg">
          
        </div>
      </div>
    </div>

  </div>


  <div class="popular">
    <p class="pl-14" style="font-size: 25px; font-weight:bold; text-align: center;">
      BOOK SRTC BUS TICKETS AT QUICKBUS
    </p> 
  
    <div class="row">
      <div class="col-md-2">
        <!-- <div class="card"> -->
          <img src="apsrtc-removebg-preview.png" alt="Offer 1" class="srtcimg">
        <!-- </div> -->
      </div>
      <div class="col-md-2">
        <!-- <div class="card"> -->
          <img src="gsrtc-removebg-preview (1).png" alt="Offer 2" class="srtcimg">
        <!-- </div> -->
      </div>
      <div class="col-md-2">
        <!-- <div class="card"> -->
          <img src="ksrtc-removebg-preview.png" alt="Offer 3" class="srtcimg">
        <!-- </div> -->
      </div>
        <div class="col-md-2">
          <!-- <div class="card"> -->
            <img src="ksrtc2-removebg-preview.png" alt="Offer 3" class="srtcimg">
        <!-- </div> -->
      </div>
        <div class="col-md-2">
          <!-- <div class="card"> -->
            <img src="rsrtc-removebg-preview.png" alt="Offer 3" class="srtcimg">
        <!-- </div> -->
      </div>
        <div class="col-md-2">
          <!-- <div class="card"> -->
            <img src="upsrtc-removebg-preview.png" alt="Offer 3" class="srtcimg">
        <!-- </div> -->
      </div>
      </div>
    </div>


    

